.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  background-color: #1f1f1f;
  font-family: Muli, sans-serif;
  color: #d4d4d4;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: bold;
}

img {
  display: inline-block;
  max-width: 100%;
}

.home-honours {
  display: none;
  min-height: 65vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  text-align: center;
}

.button {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  min-width: 137px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .3);
  background-color: hsla(208.00000000000003, 0.00%, 0.00%, 0.61);
  -webkit-transition: background-color 550ms ease, color 550ms ease, text-shadow 550ms ease, border-color 550ms ease;
  transition: background-color 550ms ease, color 550ms ease, text-shadow 550ms ease, border-color 550ms ease;
  color: #bababa;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-indent: 3px;
  text-shadow: 0 0 11px #fff;
}

.button:hover {
  border-color: #fff;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-shadow: 0 0 9px #fff;
}

.button.navigation {
  position: static;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: -29px;
  display: block;
  overflow: visible;
  padding-top: 10px;
  clear: none;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  font-weight: 800;
}

.button.navigation.w--current {
  color: #fff;
}

.button.navigation.drop {
  display: block;
  background-color: transparent;
}

.button.navigation.username:hover {
  color: #fff;
}

.button.navigation.muie {
  min-width: 94px;
  margin-left: 5px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: hsla(208.00000000000003, 100.00%, 37.33%, 1.00);
}

.button.navigation.muie.hide {
  border-radius: 20px;
}

.button.navigation.side {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: solid;
  background-color: #e3e3e3;
  box-shadow: 0 0 0 -5px #000;
  opacity: 1;
  -webkit-transition: box-shadow 375ms ease, text-shadow 550ms ease;
  transition: box-shadow 375ms ease, text-shadow 550ms ease;
  color: #454545;
  font-size: 14px;
  text-align: left;
  text-shadow: none;
}

.button.navigation.side:hover {
  box-shadow: 0 0 8px 0 #000;
}

.button.footer {
  border-style: none;
  background-color: transparent;
  -webkit-transition: background-color 550ms ease, color 550ms ease, text-shadow 550ms ease, border-color 550ms ease;
  transition: background-color 550ms ease, color 550ms ease, text-shadow 550ms ease, border-color 550ms ease;
}

.button.form {
  width: 100%;
  margin: 24px 0px;
  background-color: #2a4874;
}

.button.form.reg {
  margin-bottom: 29px;
}

.button.create-account {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 41px;
  border-style: none;
  background-color: transparent;
  -webkit-transition: text-shadow 550ms ease, color 550ms ease;
  transition: text-shadow 550ms ease, color 550ms ease;
  color: #c9c9c9;
  font-size: 16px;
  text-shadow: 0 0 15px #000;
}

.button.create-account:hover {
  color: #d9d9d9;
  font-weight: 800;
  text-shadow: 0 0 11px #fff;
}

.button.nav-menu {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.button.themes {
  min-width: 178px;
}

.home-honours-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-honours-wrapper.movement {
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 89px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.home-honours-wrapper.parallax {
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 75px;
  clear: none;
}

.button-block {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #d3d3d3;
  font-size: 17px;
  text-indent: 29px;
}

.landing-heading {
  border-radius: 0px;
  font-size: 38px;
  line-height: 47px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  text-indent: 0px;
  text-transform: capitalize;
  text-shadow: 8px 8px 10px #000;
  -webkit-column-count: 0;
  column-count: 0;
}

.focus {
  color: #fff;
  font-weight: 700;
}

.navbar {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #000;
  color: #bcb9b9;
}

.div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.container {
  display: block;
}

.container-2 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: left;
}

.nav-menu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.nav-menu.w--open {
  background-color: #4f4f4f;
}

.navigation-container {
  min-width: 100%;
  padding: 33px;
  border-bottom: 1px solid #4f4f4f;
}

.dashboard-nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: #000;
}

.image {
  display: block;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.image:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.image:active {
  opacity: 1;
}

.image:focus {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.brand {
  position: relative;
  display: block;
  overflow: visible;
  min-width: 0px;
  padding-top: 0px;
  float: left;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.fotter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #4f4f4f;
  background-color: #000;
}

.social-media-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.copyright {
  background-color: transparent;
  color: hsla(0, 0%, 83%, .55);
  font-weight: 700;
  letter-spacing: 1px;
}

.image-2 {
  letter-spacing: 3px;
}

.footer-hover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.46;
  -webkit-transition: opacity 1500ms ease;
  transition: opacity 1500ms ease;
}

.footer-hover:hover {
  opacity: 1;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.section {
  padding-top: 71px;
  padding-bottom: 71px;
}

.main-container {
  position: static;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 151px;
  margin-bottom: 35px;
  padding: 0px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 6px;
  background-color: rgba(48, 48, 48, .72);
  color: #4a4a4a;
}

.main-container.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 49px;
  padding-bottom: 49px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ededed;
  text-align: center;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 65px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #dedede;
  font-weight: 800;
}

.paragraph {
  padding-top: 29px;
  padding-bottom: 29px;
}

.form-text {
  width: auto;
  min-width: 500px;
  margin-bottom: 20px;
  background-color: #fff;
}

.form-text::-webkit-input-placeholder {
  color: #454545;
}

.form-text:-ms-input-placeholder {
  color: #454545;
}

.form-text::-ms-input-placeholder {
  color: #454545;
}

.form-text::placeholder {
  color: #454545;
}

.remember-me {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.checkbox-label {
  padding-left: 14px;
  color: #dedede;
  font-weight: 700;
}

.create-account {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  -webkit-transition: color 550ms ease;
  transition: color 550ms ease;
  color: #4a4a4a;
  font-weight: 800;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}

.create-account:hover {
  color: #858585;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 500px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.dropdown-list {
  background-color: #080808;
  -webkit-transition: background-position 500ms ease;
  transition: background-position 500ms ease;
}

.dropdown-list.w--open {
  margin-top: 31px;
  background-color: transparent;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.home-honours-movement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 65vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
  cursor: default;
}

.move {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(180deg, transparent, transparent);
  -webkit-transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background {
  position: absolute;
  width: 500px;
  max-width: none;
  -webkit-transform: translate3d(0px, 0px, -2000px);
  transform: translate3d(0px, 0px, -2000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wallpaper {
  position: absolute;
  left: -3738px;
  top: -462%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  display: block;
  overflow: visible;
  width: 7500px;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, -5000px);
  transform: translate3d(0px, 0px, -5000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.home-honours-parallax {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 65vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
}

.parallax-square {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 400px;
  height: 400px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(102, 224, 255, .34);
  -webkit-transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background-parallax {
  position: absolute;
  z-index: 999;
  display: block;
  width: 7500px;
  max-width: none;
  -webkit-transform: translate3d(0px, 0px, -2000px);
  transform: translate3d(0px, 0px, -2000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.home-honours-interaction {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 77vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
}

.home-honours-wrapper-interaction {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 103px;
  margin-bottom: 0px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-honours-wrapper-interaction.movement {
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 89px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.home-honours-wrapper-interaction.parallax {
  position: absolute;
  z-index: 999;
  display: none;
  margin-top: 75px;
  clear: none;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 0px;
  height: 0px;
  min-height: 700px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  -webkit-transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(0.001deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.background-box {
  position: absolute;
  width: 10000px;
  max-width: none;
  background-color: transparent;
  -webkit-transform: translate3d(0px, 0px, -2000px);
  transform: translate3d(0px, 0px, -2000px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.wrapper {
  padding-top: 68px;
  padding-bottom: 68px;
  border-radius: 7px;
  background-color: #c2e7ff;
}

.theme-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/Untitled-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 1;
}

.login-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #303030;
  font-weight: 800;
}

.text-block {
  color: #4f4f4f;
}

.theme-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 173px;
  margin-bottom: 69px;
  padding: 0px 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, .72);
}

.grid {
  -ms-grid-columns: 3fr 1fr;
  grid-template-columns: 3fr 1fr;
}

.column {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.grid-2 {
  position: static;
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 0.25fr;
  grid-column-gap: 40px;
  grid-row-gap: 44px;
  grid-template-areas: ".";
  -ms-grid-columns: 2fr 40px 4.75fr 40px 2fr;
  grid-template-columns: 2fr 4.75fr 2fr;
  -ms-grid-rows: minmax(300px, 0px);
  grid-template-rows: minmax(300px, 0px);
  border-style: solid none none;
  border-width: 2px 5px;
  border-color: rgba(66, 153, 240, .27) #000;
}

.image-3 {
  position: static;
  overflow: visible;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  border-radius: 20px;
}

.theme-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: left;
}

.theme-title-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 26px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.grid-2-copy {
  padding-top: 21px;
  padding-bottom: 21px;
  grid-column-gap: 34px;
  grid-row-gap: 37px;
  grid-template-areas: ".";
  -ms-grid-columns: 2fr 34px 4.75fr 34px 2fr;
  grid-template-columns: 2fr 4.75fr 2fr;
  -ms-grid-rows: minmax(0px, 100px);
  grid-template-rows: minmax(0px, 100px);
  border-style: solid none none;
  border-width: 2px 5px;
  border-color: rgba(66, 153, 240, .27) #000;
}

.grid-2-copy-copy {
  margin-top: 54px;
  padding-top: 21px;
  padding-bottom: 21px;
  grid-column-gap: 34px;
  grid-row-gap: 2px;
  grid-template-areas: ".";
  -ms-grid-columns: 3fr 34px 3fr 34px 3fr;
  grid-template-columns: 3fr 3fr 3fr;
  -ms-grid-rows: minmax(200px, 0px) 2px auto;
  grid-template-rows: minmax(200px, 0px) auto;
  border-style: solid none none;
  border-width: 2px 5px;
  border-color: rgba(66, 153, 240, .27) #000;
}

.theme-container-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 142px;
  margin-bottom: 69px;
  padding: 0px 37px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(48, 48, 48, .72);
}

.theme-container-copy.desktop {
  padding-right: 60px;
  padding-left: 60px;
}

.grid-1 {
  position: static;
  display: -ms-grid;
  display: grid;
  margin-top: 29px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 25px;
  padding-bottom: 0px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 0.25fr;
  grid-column-gap: 40px;
  grid-row-gap: 2px;
  grid-template-areas: ".";
  -ms-grid-columns: 3fr 40px 3fr 40px 3fr;
  grid-template-columns: 3fr 3fr 3fr;
  -ms-grid-rows: minmax(202px, 1fr) 2px auto;
  grid-template-rows: minmax(202px, 1fr) auto;
  border-style: solid none none;
  border-width: 2px 5px;
  border-color: rgba(66, 153, 240, .27) #000;
}

.image-more-themes {
  position: static;
  overflow: visible;
  box-shadow: 4px 4px 20px 1px #000;
  -webkit-filter: blur(0px) grayscale(0%);
  filter: blur(0px) grayscale(0%);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease, -webkit-filter 400ms ease;
  transition: -webkit-transform 200ms ease, -webkit-filter 400ms ease;
  transition: transform 200ms ease, filter 400ms ease;
  transition: transform 200ms ease, filter 400ms ease, -webkit-transform 200ms ease, -webkit-filter 400ms ease;
  color: #bfbfbf;
}

.image-more-themes:hover {
  -webkit-filter: blur(1px) grayscale(64%);
  filter: blur(1px) grayscale(64%);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 0px;
  min-width: 350px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
  font-weight: 700;
  text-align: left;
}

.search.hide {
  display: none;
}

.search-box {
  display: block;
  margin-bottom: 0px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.search-box.hide {
  display: none;
}

.icon {
  position: absolute;
}

.dropdown {
  position: relative;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.section-2 {
  min-height: 1000px;
  background-color: #e0dcdc;
  color: #7a7a7a;
}

.side-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #fff;
}

.navbar-3 {
  position: fixed;
  left: 0%;
  top: 12.5%;
  right: auto;
  bottom: 0%;
  display: block;
  overflow: visible;
  max-width: 160px;
  min-height: 0px;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: #e0dcdc;
}

.side {
  position: static;
}

.container-3 {
  padding-top: 61px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.columns {
  margin-top: 105px;
  border-radius: 7px;
  background-color: #e0dcdc;
}

.left {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  padding-right: 0px;
  padding-left: 0px;
}

.right {
  padding-right: 0px;
  padding-left: 0px;
}

.dash_image {
  display: block;
  max-width: 100%;
  padding-left: 0px;
}

.link-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-5 {
  max-width: 3%;
}

.image-6 {
  max-width: 2%;
}

.image-7 {
  display: inline;
  max-width: 1.7%;
  text-align: center;
}

.icon-div {
  position: static;
  display: inline-block;
  max-width: 200px;
  min-height: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.desktop {
  max-width: 100%;
  margin-right: 15px;
  margin-left: 70px;
  padding-right: 0px;
  padding-left: 0px;
}

.mobile {
  display: inline-block;
  max-width: 200px;
  margin-right: 0px;
  margin-left: 15px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

@media (max-width: 991px) {
  .home-honours {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .button.navigation {
    position: static;
    display: block;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: transparent;
    text-align: left;
  }
  .button.navigation.muie.hide {
    display: block;
    padding-top: 10px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .button.navigation.side {
    min-width: 88px;
    padding: 14px 12px;
  }
  .home-honours-wrapper {
    min-height: 700px;
    padding-top: 156px;
    line-height: 20px;
  }
  .landing-heading {
    padding: 0px 8px;
  }
  .nav-menu {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 1px 1px 11px 0 #000;
  }
  .navigation-container {
    position: relative;
  }
  .image {
    display: block;
    margin-top: 12px;
    float: none;
  }
  .hamburger {
    display: block;
    overflow: visible;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .hamburger:active {
    position: relative;
    display: block;
  }
  .hamburger.w--open {
    background-color: transparent;
  }
  .hamburger.w--open:active {
    float: right;
    background-color: transparent;
  }
  .home-honours-parallax {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .home-honours-interaction {
    display: none;
    min-height: 87vh;
  }
  .box {
    min-height: 0px;
  }
  .grid-2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 44px;
    -ms-grid-columns: 2fr 4.75fr 2fr;
    grid-template-columns: 2fr 4.75fr 2fr;
    -ms-grid-rows: minmax(223px, 0px);
    grid-template-rows: minmax(223px, 0px);
  }
  .image-more-themes.tablet {
    max-width: 84%;
  }
  .search {
    display: none;
  }
  .search.hide {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    min-width: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .search-box {
    display: block;
  }
  .section-2 {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    min-height: 0px;
    padding-bottom: 36px;
  }
  .navbar-3 {
    position: absolute;
    top: 14%;
    overflow: visible;
    max-height: 386px;
    min-height: 0px;
  }
  .container-3 {
    position: static;
    padding-top: 57px;
  }
  .columns {
    max-height: none;
  }
  .right {
    position: relative;
    left: 13px;
    top: 20px;
    overflow: visible;
    max-height: none;
  }
  .dash_image {
    display: block;
    max-height: none;
  }
}

@media (max-width: 767px) {
  .button {
    margin-top: 8px;
    padding-top: 10px;
  }
  .button.navigation.side {
    padding: 7px;
  }
  .button.themes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    min-width: 413px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .button-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navigation-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .image {
    margin-top: 13px;
  }
  .image.belea {
    margin-top: 33px;
  }
  .fotter {
    height: 150px;
  }
  .social-media-wrapper {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .main-container {
    position: static;
    left: 15px;
    right: -9px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .form-text {
    min-width: 323px;
  }
  .theme-container {
    padding-right: 24px;
    padding-left: 24px;
  }
  .grid-2 {
    display: block;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .image-3 {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .theme-title {
    font-size: 30px;
  }
  .grid-2-copy {
    display: block;
    margin-top: 48px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .grid-1 {
    display: -ms-grid;
    display: grid;
    clear: left;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 2px;
    -ms-grid-columns: 3fr 3fr;
    grid-template-columns: 3fr 3fr;
    -ms-grid-rows: minmax(200px, 0px);
    grid-template-rows: minmax(200px, 0px);
  }
  .section-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 37%;
  }
  .dash_image {
    display: none;
  }
  .heading-2 {
    font-size: 20px;
  }
  .heading-3 {
    font-size: 20px;
  }
  .image-4 {
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .div-block-2 {
    position: static;
    display: block;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-3 {
    display: block;
  }
}

@media (max-width: 479px) {
  .button.themes {
    min-width: 100px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .button-block {
    margin-bottom: 21px;
  }
  .image {
    position: relative;
    top: 9px;
    display: block;
    margin-top: 4px;
  }
  .image.belea {
    position: static;
    display: block;
    width: auto;
    max-height: 137px;
    max-width: 91%;
    min-height: 0px;
    margin-top: 34px;
  }
  .image.belea.cio {
    position: static;
    display: block;
    overflow: hidden;
    max-width: 91%;
    min-width: 0px;
    float: none;
    text-align: left;
  }
  .fotter {
    height: 300px;
  }
  .social-media-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .copyright {
    padding-right: 23px;
    padding-left: 23px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    text-align: center;
  }
  .form-text {
    min-width: 246px;
  }
  .theme-container {
    margin-top: 150px;
    margin-bottom: 35px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .grid-2 {
    display: block;
    margin-top: 0px;
    padding-top: 33px;
    padding-bottom: 33px;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
  }
  .image-3 {
    display: inline-block;
    padding-top: 37px;
    padding-bottom: 37px;
    clear: none;
    text-align: left;
  }
  .theme-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .grid-2-copy {
    display: block;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .grid-2-copy-copy {
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .grid-1 {
    grid-template-areas: ".";
    -ms-grid-columns: 3fr 3fr;
    grid-template-columns: 3fr 3fr;
  }
  .image-more-themes {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container-3 {
    display: block;
    padding-top: 0px;
  }
  .image-4 {
    position: -webkit-sticky;
    position: sticky;
    padding: 36px;
    -webkit-align-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  .div-block {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .hau-hau {
    margin-top: 17px;
    margin-bottom: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-39b0bacf27b7-bf36fb0e {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-3483ae311f35-aba060d3 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-d3ce45a59f1d-ace34a73 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-d3ce45a59f1d-ace34a73 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-d3ce45a59f1d-ace34a73 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d3ce45a59f1d-ace34a73 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-49433792b70f-ace34a73 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-2cb9abfce910-ace34a73 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-2cb9abfce910-ace34a73 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-664df7218e99-1cd1e9c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-664df7218e99-1cd1e9c5 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-0afa629ff0ea-1cd1e9c5 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-2907a516386e-1cd1e9c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-e84fc2ff352d-1cd1e9c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-880659a265b2-1cd1e9c5 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-e274fac65b5b-1cd1e9c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-afab5be2b58c-1cd1e9c5 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-11ed5f21bd3c-1cd1e9c5 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-df21d26acf8c-1cd1e9c5 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-8bb82c73ab86-1cd1e9c5 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-eb9b657fa017-657fa014 {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

